<<<<<<< HEAD
=======

>>>>>>> 703a7ad1c86a1a2bdeac2d502ea056d4baa88d1f
* {
    background-color: greenyellow;
}
@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }

.shrink {
    border: 5px solid black;
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
<<<<<<< HEAD
=======
    position: relative; 
>>>>>>> 703a7ad1c86a1a2bdeac2d502ea056d4baa88d1f
}



.grow {
    border: 5px solid black;
    animation: grow-and-shrink 1000ms;
    animation-timing-function: ease-linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> 703a7ad1c86a1a2bdeac2d502ea056d4baa88d1f
}

h4 {
    text-align: center;
<<<<<<< HEAD
}

.wavy {
	position: center;
	-webkit-box-reflect: below -14px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.wavy span {
	position: center;
   /*I don't think it's necessary*/
	display: inline-block;
	animation: jumper 5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes jumper {
	0% {
		transform: translateY(0px);
	}
	5% {
		transform: translateY(-10px);
	}
	10%, 50% {
		transform: translateY(0px);
	}
}

svg{
  width: 0;
  height: 0;
}

h5{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  filter: url(#wavy);
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }

=======
    line-height: 200px;
    margin-top: 300px;
    position: relative;
}
* {
    border: 1px dotted purple; 
}

.main {
    display:flex;
    flex-wrap: nowrap;
}

.header h1 {
    text-align: center;
    color: #C724B1; 
    font-size: 40px;
    background-image: url("https://as2.ftcdn.net/v2/jpg/04/54/79/41/1000_F_454794169_ayADv4nh4xNs1enNzIxmvqRnLr0iHjnm.jpg")
}

  .clockwise:hover {
    -webkit-animation:spin 4s linear    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.counterclockwise:hover {
    -webkit-animation:spin 1s linear    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

* {
    background-color: greenyellow;
}
@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }

.shrink {
    border: 5px solid black;
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



.grow {
    border: 5px solid black;
    animation: grow-and-shrink 1000ms;
    animation-timing-function: ease-linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
>>>>>>> 703a7ad1c86a1a2bdeac2d502ea056d4baa88d1f
}

