* {
    background-color: greenyellow;
}
@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }

.shrink {
    border: 5px solid black;
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



.grow {
    border: 5px solid black;
    animation: grow-and-shrink 1000ms;
    animation-timing-function: ease-linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

h4 {
    text-align: center;
}

.wavy {
	position: center;
	-webkit-box-reflect: below -14px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.wavy span {
	position: center;
   /*I don't think it's necessary*/
	display: inline-block;
	animation: jumper 5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes jumper {
	0% {
		transform: translateY(0px);
	}
	5% {
		transform: translateY(-10px);
	}
	10%, 50% {
		transform: translateY(0px);
	}
}



